<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/jquery-3.6.0.min.js"></script>
<script src="/Tween.js"></script>
<script src="/Sequence.js"></script>
<script src="/Parallel.js"></script>

<script type="text/javascript">
	var flag_end = false;
	var arr2D = [
			[ "h_차", "h_마", "h_상", "h_사", "e", "h_사", "h_상", "h_마", "h_차" ],
			[ "e", "e", "e", "e", "h_왕", "e", "e", "e", "e" ],
			[ "e", "h_포", "e", "e", "e", "e", "e", "h_포", "e" ],
			[ "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸" ],
			[ "e", "b_포", "e", "e", "e", "e", "e", "b_포", "e" ],
			[ "e", "e", "e", "e", "b_왕", "e", "e", "e", "e" ],
			[ "b_차", "b_마", "b_상", "b_사", "e", "b_사", "b_상", "b_포", "b_차" ]
			];
	
	var can2D = [
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
		];
	

	function myinit() {
		mymal();
		mymov();
		myrender();
		
	}
	
	var status_idx = 0;
	var pre_int_i = -1;
	var pre_int_j = -1;
	
	function mymal() {
		var obj_mal = document.getElementById('div_mal');
		var text = "";
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				text += "<img class='img_mal' style='position:absolute; left:" + (52 * j) + "px; top:" + (44 * i) + "px;' src='images/e.png' title='" + i + "," + j + "' onclick='myclick(this);'/>";
			}
		}
		obj_mal.innerHTML = text;
	}
	
	function mymov() {
		var obj_mal = document.getElementById('div_mov');
		var text = "";
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				text += "<img class='img_mov' style='position:absolute; left:" + (52 * j) + "px; top:" + (44 * i) + "px;' src='images/e.png'/>";
			}
		}
		obj_mal.innerHTML = text;
	}
	
	function mycander() {
		
		var movs = document.getElementsByClassName('img_mov');
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				if (can2D[i][j] == 0) {
					movs[i*9 + j].src = "images/e.png";
				} else {
					movs[i*9 + j].src = "images/moveable.png";
				}
				
			}
		}
	}
	function zeroCan2D() {
		
		for (var i = 0; i < 10; i++) {
			for (var j = 0; j < 9; j++)
				can2D[i][j] = 0;
		}
		
	}
	
	
	function setCan2D(i, j) {
		var mal_info = arr2D[i][j];
		var arr_nm = mal_info.split("_");
		var nation = arr_nm[0];
		var mal = arr_nm[1];
		var arr_i = [];
		var arr_j = [];
		if (nation == "b" && mal == "졸") {
			b_zol_le(i, j, arr_i, arr_j);
			b_zol_up(i, j, arr_i, arr_j);
			b_zol_ri(i, j, arr_i, arr_j);
		}
		if (nation == "h" && mal == "졸") {
			h_zol_le(i, j, arr_i, arr_j);
			h_zol_dw(i, j, arr_i, arr_j);
			h_zol_ri(i, j, arr_i, arr_j);
		}
		
		if (nation == "b" && mal == "차") {
			b_cha_up(i, j, arr_i, arr_j);
			b_cha_le(i, j, arr_i, arr_j);
			b_cha_ri(i, j, arr_i, arr_j);
			b_cha_dw(i, j, arr_i, arr_j);
		}
		
		if (nation == "h" && mal == "차") {
			h_cha_up(i, j, arr_i, arr_j);
			h_cha_le(i, j, arr_i, arr_j);
			h_cha_ri(i, j, arr_i, arr_j);
			h_cha_dw(i, j, arr_i, arr_j);
		}
		
		if (nation == "b" && mal == "마") {
			b_ma_uur(i, j, arr_i, arr_j);
			b_ma_uul(i, j, arr_i, arr_j);
			b_ma_ddr(i, j, arr_i, arr_j);
			b_ma_ddl(i, j, arr_i, arr_j);
			b_ma_llu(i, j, arr_i, arr_j);
			b_ma_lld(i, j, arr_i, arr_j);
			b_ma_rru(i, j, arr_i, arr_j);
			b_ma_rrd(i, j, arr_i, arr_j);
			
		}
		
		if (nation == "h" && mal == "마") {
			h_ma_uur(i, j, arr_i, arr_j);
			h_ma_uul(i, j, arr_i, arr_j);
			h_ma_ddr(i, j, arr_i, arr_j);
			h_ma_ddl(i, j, arr_i, arr_j);
			h_ma_llu(i, j, arr_i, arr_j);
			h_ma_lld(i, j, arr_i, arr_j);
			h_ma_rru(i, j, arr_i, arr_j);
			h_ma_rrd(i, j, arr_i, arr_j);
			
		}
		
		if (nation == "b" && mal == "상") {
			b_sang_rrd(i, j, arr_i, arr_j);
			b_sang_rru(i, j, arr_i, arr_j);
			b_sang_ddr(i, j, arr_i, arr_j);
			b_sang_ddl(i, j, arr_i, arr_j);
			b_sang_lld(i, j, arr_i, arr_j);
			b_sang_llu(i, j, arr_i, arr_j);
			b_sang_uul(i, j, arr_i, arr_j);
			b_sang_uur(i, j, arr_i, arr_j);
		}
		
		if (nation == "h" && mal == "상") {
			h_sang_rrd(i, j, arr_i, arr_j);
			h_sang_rru(i, j, arr_i, arr_j);
			h_sang_ddr(i, j, arr_i, arr_j);
			h_sang_ddl(i, j, arr_i, arr_j);
			h_sang_lld(i, j, arr_i, arr_j);
			h_sang_llu(i, j, arr_i, arr_j);
			h_sang_uul(i, j, arr_i, arr_j);
			h_sang_uur(i, j, arr_i, arr_j);
		}
		
		if (nation == "b" && mal == "왕" || "사") {
			b_wangsa(i, j, arr_i, arr_j);
		}
		
		if (nation == "h" && mal == "왕" || "사") {
			h_wangsa(i, j, arr_i, arr_j);
		}
		
		if (nation == "b" && mal == "포") {
			b_po_up(i, j, arr_i, arr_j);
			b_po_dw(i, j, arr_i, arr_j);
			b_po_le(i, j, arr_i, arr_j);
			b_po_ri(i, j, arr_i, arr_j);
		}
		if (nation == "h" && mal == "포") {
			h_po_up(i, j, arr_i, arr_j);
			h_po_dw(i, j, arr_i, arr_j);
			h_po_le(i, j, arr_i, arr_j);
			h_po_ri(i, j, arr_i, arr_j);
		}
		
		for (let i = 0; i < arr_i.length; i++) {
			var ci = arr_i[i];
			var cj = arr_j[i];
			can2D[ci][cj] = 1;
		}
	}
	function b_wangsa(i, j, arr_i, arr_j) {
		if (i == 8 && j == 4) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_ur(i, j, arr_i, arr_j);
			b_wangsa_ri(i, j, arr_i, arr_j);
			b_wangsa_dr(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
			b_wangsa_dl(i, j, arr_i, arr_j);
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_ul(i, j, arr_i, arr_j);
		}
		if (i == 7 && j == 3) {
			b_wangsa_ri(i, j, arr_i, arr_j);
			b_wangsa_dr(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 7 && j == 4) {
			b_wangsa_ri(i, j, arr_i, arr_j);
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 7 && j == 5) {
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_dl(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 8 && j == 3) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_ri(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 8 && j == 5) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 9 && j == 3) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_ur(i, j, arr_i, arr_j);
			b_wangsa_ri(i, j, arr_i, arr_j);
		}
		if (i == 9 && j == 4) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_ri(i, j, arr_i, arr_j);
		}
		if (i == 9 && j == 5) {
			b_wangsa_up(i, j, arr_i, arr_j);
			b_wangsa_le(i, j, arr_i, arr_j);
			b_wangsa_ul(i, j, arr_i, arr_j);
		}
		
	}
	function h_po_ri(i, j, arr_i, arr_j) {
		while(true) {
			j++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			j++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			} 
		}
	}
	
	function h_po_le(i, j, arr_i, arr_j) {
		while(true) {
			j--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			j--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			}
			
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			} 
		}
	}
	
	function h_po_dw(i, j, arr_i, arr_j) {
		while(true) {
			i++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			i++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			} 
		}
	}
	
	function h_po_up(i, j, arr_i, arr_j) {
		while(true) {
			i--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			i--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			} 
		}
	}
	
	function b_po_ri(i, j, arr_i, arr_j) {
		while(true) {
			j++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			j++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			} 
		}
	}
	
	function b_po_le(i, j, arr_i, arr_j) {
		while(true) {
			j--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			j--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			}
			
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			} 
		}
	}
	
	function b_po_dw(i, j, arr_i, arr_j) {
		while(true) {
			i++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			i++;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			} 
		}
	}
	
	function b_po_up(i, j, arr_i, arr_j) {
		while(true) {
			i--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("포") > 0) {
				return;
			}
			
			if (arr2D[i][j].indexOf("e") == -1) {
				break;
			}
		}
		while(true) {
			i--;
			if (i < 0 || i > 9) return;
			if (j < 0 || j > 8) return; 
			
			if (arr2D[i][j].indexOf("b") >= 0) {
				return;
			}
			if (arr2D[i][j].indexOf("포") >= 0) {
				return;
			}
			arr_i.push(i);
			arr_j.push(j);
			if (arr2D[i][j].indexOf("h") >= 0) {
				return;
			} 
		}
	}
	
	
	function h_wangsa(i, j, arr_i, arr_j) {
		if (i == 1 && j == 4) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_ur(i, j, arr_i, arr_j);
			h_wangsa_ri(i, j, arr_i, arr_j);
			h_wangsa_dr(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
			h_wangsa_dl(i, j, arr_i, arr_j);
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_ul(i, j, arr_i, arr_j);
		}
		if (i == 0 && j == 3) {
			h_wangsa_ri(i, j, arr_i, arr_j);
			h_wangsa_dr(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 0 && j == 4) {
			h_wangsa_ri(i, j, arr_i, arr_j);
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 0 && j == 5) {
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_dl(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 1 && j == 3) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_ri(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 1 && j == 5) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_dw(i, j, arr_i, arr_j);
		}
		if (i == 2 && j == 3) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_ur(i, j, arr_i, arr_j);
			h_wangsa_ri(i, j, arr_i, arr_j);
		}
		if (i == 2 && j == 4) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_ri(i, j, arr_i, arr_j);
		}
		if (i == 2 && j == 5) {
			h_wangsa_up(i, j, arr_i, arr_j);
			h_wangsa_le(i, j, arr_i, arr_j);
			h_wangsa_ul(i, j, arr_i, arr_j);
		}
		
	}
	
	function h_wangsa_ul(i, j, arr_i, arr_j) {
		i--;
		j--;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_le(i, j, arr_i, arr_j) {
		j--;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_dl(i, j, arr_i, arr_j) {
		i++;
		j--;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_dw(i, j, arr_i, arr_j) {
		i++;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_dr(i, j, arr_i, arr_j) {
		i++;
		j++;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_ri(i, j, arr_i, arr_j) {
		j++;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_ur(i, j, arr_i, arr_j) {
		i--;
		j++;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function h_wangsa_up(i, j, arr_i, arr_j) {
		i--;
		if (i < 0 || i > 2) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("h") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_ul(i, j, arr_i, arr_j) {
		i--;
		j--;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_le(i, j, arr_i, arr_j) {
		j--;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_dl(i, j, arr_i, arr_j) {
		i++;
		j--;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_dw(i, j, arr_i, arr_j) {
		i++;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_dr(i, j, arr_i, arr_j) {
		i++;
		j++;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_ri(i, j, arr_i, arr_j) {
		j++;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_ur(i, j, arr_i, arr_j) {
		i--;
		j++;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	function b_wangsa_up(i, j, arr_i, arr_j) {
		i--;
		if (i < 7 || i > 9) return;
		if (j < 3 || j > 5) return;
		
		if (arr2D[i][j].indexOf("b") == -1) {
			arr_i.push(i);
			arr_j.push(j);
			 
		}
	}
	
	
	function h_sang_uur(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var rupt_i2 = i - 2;
		var rupt_j2 = j + 1;
		
		var goal_i = i - 3;
		var goal_j = j + 2;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 > 8 || goal_j > 8 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_uul(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var rupt_i2 = i - 2;
		var rupt_j2 = j - 1;
		
		var goal_i = i - 3;
		var goal_j = j - 2;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 < 0 || goal_j < 0 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_llu(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var rupt_i2 = i - 1;
		var rupt_j2 = j - 2;
		
		var goal_i = i - 2;
		var goal_j = j - 3;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 < 0 || goal_j < 0 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_lld(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var rupt_i2 = i + 1;
		var rupt_j2 = j - 2;
		
		var goal_i = i + 2;
		var goal_j = j - 3;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 < 0 || goal_j < 0 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_ddl(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var rupt_i2 = i + 2;
		var rupt_j2 = j - 1;
		
		var goal_i = i + 3;
		var goal_j = j - 2;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 < 0 || goal_j < 0 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_ddr(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var rupt_i2 = i + 2;
		var rupt_j2 = j + 1;
		
		var goal_i = i + 3;
		var goal_j = j + 2;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 > 8 || goal_j > 8 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_rru(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var rupt_i2 = i - 1;
		var rupt_j2 = j + 2;
		
		var goal_i = i - 2;
		var goal_j = j + 3;
		
		if (rupt_j > 9 || rupt_j2 > 9 || goal_j > 9 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_sang_rrd(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var rupt_i2 = i + 1;
		var rupt_j2 = j + 2;
		
		var goal_i = i + 2;
		var goal_j = j + 3;
		
		if (rupt_j > 9 || rupt_j2 > 9 || goal_j > 9 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	
	function b_sang_uur(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var rupt_i2 = i - 2;
		var rupt_j2 = j + 1;
		
		var goal_i = i - 3;
		var goal_j = j + 2;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 > 8 || goal_j > 8 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_uul(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var rupt_i2 = i - 2;
		var rupt_j2 = j - 1;
		
		var goal_i = i - 3;
		var goal_j = j - 2;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 < 0 || goal_j < 0 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_llu(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var rupt_i2 = i - 1;
		var rupt_j2 = j - 2;
		
		var goal_i = i - 2;
		var goal_j = j - 3;
		
		if (rupt_i < 0 || rupt_i2 < 0 || rupt_j2 < 0 || goal_j < 0 || goal_i < 0) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_lld(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var rupt_i2 = i + 1;
		var rupt_j2 = j - 2;
		
		var goal_i = i + 2;
		var goal_j = j - 3;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 < 0 || goal_j < 0 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_ddl(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var rupt_i2 = i + 2;
		var rupt_j2 = j - 1;
		
		var goal_i = i + 3;
		var goal_j = j - 2;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 < 0 || goal_j < 0 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_ddr(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var rupt_i2 = i + 2;
		var rupt_j2 = j + 1;
		
		var goal_i = i + 3;
		var goal_j = j + 2;
		
		if (rupt_i > 9 || rupt_i2 > 9 || rupt_j2 > 8 || goal_j > 8 || goal_i > 9) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_rru(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var rupt_i2 = i - 1;
		var rupt_j2 = j + 2;
		
		var goal_i = i - 2;
		var goal_j = j + 3;
		
		if (rupt_j > 9 || rupt_j2 > 9 || goal_j > 9 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_sang_rrd(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var rupt_i2 = i + 1;
		var rupt_j2 = j + 2;
		
		var goal_i = i + 2;
		var goal_j = j + 3;
		
		if (rupt_j > 9 || rupt_j2 > 9 || goal_j > 9 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[rupt_i2][rupt_j2] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_rrd(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var goal_i = i + 1;
		var goal_j = j + 2;
		
		if (rupt_j > 9 || goal_j > 9 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_rru(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var goal_i = i - 1;
		var goal_j = j + 2;
		
		if (rupt_j > 9 || goal_j > 9 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_lld(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var goal_i = i + 1;
		var goal_j = j - 2;
		
		if (rupt_j < 0 || goal_j < 0 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_llu(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var goal_i = i - 1;
		var goal_j = j - 2;
		
		if (rupt_j < 0 || goal_j < 0 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_ddl(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var goal_i = i + 2;
		var goal_j = j - 1;
		
		if (rupt_i > 9 || goal_i > 9 || goal_j < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_ddr(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var goal_i = i + 2;
		var goal_j = j + 1;
		
		if (rupt_i > 9 || goal_i > 9 || goal_j > 8 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_uur(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var goal_i = i - 2;
		var goal_j = j + 1;
		
		if (rupt_i < 0 || goal_i < 0 || goal_j > 8 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function h_ma_uul(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var goal_i = i - 2;
		var goal_j = j - 1;
		
		if (rupt_i < 0 || goal_i < 0 || goal_j < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("h") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_rrd(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var goal_i = i + 1;
		var goal_j = j + 2;
		
		if (rupt_j > 9 || goal_j > 9 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_rru(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j + 1;
		
		var goal_i = i - 1;
		var goal_j = j + 2;
		
		if (rupt_j > 9 || goal_j > 9 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_lld(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var goal_i = i + 1;
		var goal_j = j - 2;
		
		if (rupt_j < 0 || goal_j < 0 || goal_i > 9 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_llu(i, j, arr_i, arr_j) {
		var	rupt_i = i;
		var rupt_j = j - 1;
		
		var goal_i = i - 1;
		var goal_j = j - 2;
		
		if (rupt_j < 0 || goal_j < 0 || goal_i < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_ddl(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var goal_i = i + 2;
		var goal_j = j - 1;
		
		if (rupt_i > 9 || goal_i > 9 || goal_j < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_ddr(i, j, arr_i, arr_j) {
		var	rupt_i = i + 1;
		var rupt_j = j;
		
		var goal_i = i + 2;
		var goal_j = j + 1;
		
		if (rupt_i > 9 || goal_i > 9 || goal_j > 8 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_uur(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var goal_i = i - 2;
		var goal_j = j + 1;
		
		if (rupt_i < 0 || goal_i < 0 || goal_j > 8 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_uul(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var goal_i = i - 2;
		var goal_j = j - 1;
		
		if (rupt_i < 0 || goal_i < 0 || goal_j < 0 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_ma_uur(i, j, arr_i, arr_j) {
		var	rupt_i = i - 1;
		var rupt_j = j;
		
		var goal_i = i - 2;
		var goal_j = j + 1;
		
		if (rupt_i < 0 || goal_i < 0 || goal_j > 8 ) {
			return;
		}
		if (arr2D[rupt_i][rupt_j] == "e" && arr2D[goal_i][goal_j].indexOf("b") == -1) {
			arr_i.push(goal_i);
			arr_j.push(goal_j);
		}		
	}
	
	function b_cha_up(i, j, arr_i, arr_j) {
		while(true) {
			i--;
			if (i < 0) {
				return;
			} else {
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function b_cha_dw(i, j, arr_i, arr_j) {
		while(true) {
			i++;
			if (i > 9) {
				return;
			} else {
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function b_cha_le(i, j, arr_i, arr_j) {
		while(true) {
			j--;
			if (j < 0) {
				return;
			} else {
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function b_cha_ri(i, j, arr_i, arr_j) {
		while(true) {
			j++;
			if (j > 8) {
				return;
			} else {
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function h_cha_up(i, j, arr_i, arr_j) {
		while(true) {
			i--;
			if (i < 0) {
				return;
			} else {
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function h_cha_dw(i, j, arr_i, arr_j) {
		while(true) {
			i++;
			if (i > 9) {
				return;
			} else {
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				} 
			}	
		}
	}
	
	
	function h_cha_le(i, j, arr_i, arr_j) {
		while(true) {
			j--;
			if (j < 0) {
				return;
			} else {
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function h_cha_ri(i, j, arr_i, arr_j) {
		while(true) {
			j++;
			if (j > 8) {
				return;
			} else {
				if (arr2D[i][j].indexOf("h") >= 0) {
					return;
				}
				arr_i.push(i);
				arr_j.push(j);
				if (arr2D[i][j].indexOf("b") >= 0) {
					return;
				} 
			}	
		}
	}
	
	function h_zol_le(i, j, arr_i, arr_j) {
		j--;
		if (j < 0) {
			return;
		} else {
			if (arr2D[i][j].indexOf("h") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			}
		}
	}
	
	function h_zol_dw(i, j, arr_i, arr_j) {
		i++;
		if (i > 9) {
			return;
		} else {
			if (arr2D[i][j].indexOf("h") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			}
		}
	}
	
	function h_zol_ri(i, j, arr_i, arr_j) {
		j++;
		if (j > 8) {
			return;
		} else {
			if (arr2D[i][j].indexOf("h") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			}
		}
	}
	
	function b_zol_le(i, j, arr_i, arr_j) {
		j--;
		if (j < 0) {
			return;
		} else {
			if (arr2D[i][j].indexOf("b") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			} 
		}
	}
	
	function b_zol_up(i, j, arr_i, arr_j) {
		i--;
		if (i < 0) {
			return;
		} else {
			if (arr2D[i][j].indexOf("b") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			} 
		}
	}
	
	function b_zol_ri(i, j, arr_i, arr_j) {
		j++;
		if (j > 8) {
			return;
		} else {
			if (arr2D[i][j].indexOf("b") == -1) {
				arr_i.push(i);
				arr_j.push(j);
			} 
		}
	}
	
	function myclick(obj) {
		if (flag_end == true) {
			return;
		}
		let status4 = status_idx % 4;
		let str_ij = obj.title;
		let arr_ij = str_ij.split(",");
		let int_i = parseInt(arr_ij[0]);
		let int_j = parseInt(arr_ij[1]);
		
		if (status4 == 0) {
			var check_mal = arr2D[int_i][int_j];
			if (check_mal.indexOf("b") == -1) {
				alert("초나라 차례얌");
				return;
			}
		}
		
		if (status4 == 2) {
			var check_mal = arr2D[int_i][int_j];
			if (check_mal.indexOf("h") == -1) {
				alert("한나라 차례얌");
				return;
			}
		}
		
		if (status4 == 0 || status4 == 2) {
			pre_int_i = int_i;
			pre_int_j = int_j;
			
			setCan2D(int_i, int_j);
			
			var canNot = true;
			
			while (canNot) {
				for (var i=0;i<10;i++) {
					for (var j=0;j<9;j++) {
						if (can2D[i][j]==1) {
							canNot = false;
		             	}
		         	}
		      	}
	      	  	break;
			}
// 	        for(var i=0;i<10;i++){
// 	           for(var j=0;j<9;j++){
// 	             if(can2D[i][j]==1){
// 	                canNot = false;
// 	             }
// 	           }
// 	        }
			    
		    if(canNot){
		       alert("놓을 수 없는 자리가 없습니다. 다시 선택해주세요.");
		       console.log("check");
		       return;
		    }
			
			mycander();
			    
		}
		

		
	
		
		if (status4 == 1 || status4 == 3) {
			
			// 자기 자신의 위치에 놓는 것 막기
			if (pre_int_i == int_i && pre_int_j == int_j) {
				return;
			}
			if (can2D[int_i][int_j] != 1) {
				alert("이동할 수 없는 자리입니다.");
				return;
			}
			let pre_mal = arr2D[pre_int_i][pre_int_j];
			arr2D[pre_int_i][pre_int_j] = "e";
			
			var eaten_mal = arr2D[int_i][int_j];
			
			arr2D[int_i][int_j] = pre_mal;
			
			var pre_x = pre_int_j * 52;
			var pre_y = pre_int_i * 44;
			var mov_x = int_j * 52;
			var mov_y = int_i * 44;
			
			var i = document.getElementsByClassName('img_mal')[int_i * 9 + int_j];
			i.src = "images/" + pre_mal + ".png";
			
			var p = new Parallel();
				
			p.addChild(new Tween(i.style, 'left', Tween.regularEaseOut, pre_x, mov_x, 0.1, 'px'));
			p.addChild(new Tween(i.style, 'top', Tween.regularEaseOut, pre_y, mov_y, 0.1, 'px'));
			
			p.start();
		
			pre_int_i = -1;
			pre_int_j = -1;
			
			zeroCan2D();
			mycander();
			
			myrender();
			setTimeout(myrender, 100);
			
			if (eaten_mal == "h_왕") {
				setTimeout("alert('초나라가 이겼습니다.')", 101);
				flag_end = true;
			}
			if (eaten_mal == "b_왕") {
				setTimeout("alert('한나라가 이겼습니다.')", 101);
				flag_end = true;
			}
		}
		
		status_idx++;
		
		
		
	}
	function myrender() {
		var mals = document.getElementById('div_mal');
		
		var imgmals = document.getElementsByClassName('img_mal');
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				imgmals[i*9 + j].src = "images/" + arr2D[i][j]+".png";
			}
		}
	}
	
	function myreset() {
// 		location.reload();
		arr2D = [
			[ "h_차", "h_마", "h_상", "h_사", "e", "h_사", "h_상", "h_마", "h_차" ],
			[ "e", "e", "e", "e", "h_왕", "e", "e", "e", "e" ],
			[ "e", "h_포", "e", "e", "e", "e", "e", "h_포", "e" ],
			[ "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸" ],
			[ "e", "b_포", "e", "e", "e", "e", "e", "b_포", "e" ],
			[ "e", "e", "e", "e", "b_왕", "e", "e", "e", "e" ],
			[ "b_차", "b_마", "b_상", "b_사", "e", "b_사", "b_상", "b_포", "b_차" ]
			];
		
		can2D = [
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
			[0,0,0,0,0, 0,0,0,0],
		];
		myrender();
		mycander();
		flag_end = false;
		status_idx = 0;
	}
</script>
</head>
<body onload="myinit();">
	<img style="position:absolute;" src="images/janggipan.png"/>
	<div id="div_mov" style="position:absolute;">
	</div>
	
	<div id="div_mal" style="position:absolute;">
	</div>
	
	<div style="position:absolute; left:480px;" >
		<a href="javascript:myreset()">다시하기</a>
	</div>
</body>
</html>