<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	var arr2D = [
			[ "h_차", "h_마", "h_상", "h_사", "e", "h_사", "h_상", "h_마", "h_차" ],
			[ "e", "e", "e", "e", "h_왕", "e", "e", "e", "e" ],
			[ "e", "h_포", "e", "e", "e", "e", "e", "h_포", "e" ],
			[ "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸" ],
			[ "e", "b_포", "e", "e", "e", "e", "e", "b_포", "e" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "b_차", "b_마", "b_상", "b_사", "e", "b_사", "b_상", "b_마", "b_차" ]
			];

	function myinit() {
		mymal();
// 		myrender();
	}
	
	function mymal() {
		var obj_mal = document.getElementById('div_mal');
		var text = "";
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				text += "<img class='img_mal' style='position:absolute; left:" + (52 * j) + "px; top:" + (44 * i) + "px;' src='images/e.png' title=' " + i + +"," + j + "' onclick='myclick();'/>";
			}
		}
		obj_mal.innerHTML = text;
	}
	
	function myclick() {
		alert("click");
	}
	function myrender() {
		var mals = document.getElementById('div_mal');
		
		var imgmals = document.getElementsByClassName('img_mal');
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				imgmals[i*9 + j].src = "images/" + arr2D[i][j]+".png";
			}
		}
		
		
		
	}
</script>
</head>
<body onload="myinit();">
	<img style="position:absolute;" src="images/janggipan.png"/>
	<div id="div_mal" style="position:absolute;">
	</div>
</body>
</html>