<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	var arr2D = [
			[ "h_차", "h_마", "h_상", "h_사", "e", "h_사", "h_상", "h_마", "h_차" ],
			[ "e", "e", "e", "e", "h_왕", "e", "e", "e", "e" ],
			[ "e", "h_포", "e", "e", "e", "e", "e", "h_포", "e" ],
			[ "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸", "e", "h_졸" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "e", "e", "e", "e", "e", "e", "e", "e", "e" ],
			[ "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸", "e", "b_졸" ],
			[ "e", "b_포", "e", "e", "e", "e", "e", "b_포", "e" ],
			[ "e", "e", "e", "e", "b_왕", "e", "e", "e", "e" ],
			[ "b_차", "b_마", "b_상", "b_사", "e", "b_사", "b_상", "b_마", "b_차" ]
			];

	function myinit() {
		mymal();
		myrender();
	}
	var flag_turn = false;
	var status_idx = 0;
	var pre_int_i = -1;
	var pre_int_j = -1;
	
	function mymal() {
		var obj_mal = document.getElementById('div_mal');
		var text = "";
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				text += "<img class='img_mal' style='position:absolute; left:" + (52 * j) + "px; top:" + (44 * i) + "px;' src='images/e.png' title=' " + i + "," + j + "' onclick='myclick(this);'/>";
			}
		}
		obj_mal.innerHTML = text;
	}
	
	function myclick(obj) {
		let status4 = status_idx % 4;
		let str_ij = obj.title;
		let arr_ij = str_ij.split(",");
		let int_i = parseInt(arr_ij[0]);
		let int_j = parseInt(arr_ij[1]);
		
		if (status4 == 0) {
			var check_mal = arr2D[int_i][int_j];
			if (check_mal.indexOf("b") == -1) {
				return;
			}
		}
		
		if (status4 == 2) {
			var check_mal = arr2D[int_i][int_j];
			if (check_mal.indexOf("h") == -1) {
				return;
			}
		}
		
		if (status4 == 0 || status4 == 2) {
			pre_int_i = int_i;
			pre_int_j = int_j;
		}
		if (status4 == 1 || status4 == 3) {
			// 자기 자신의 위치에 놓는 것 막기
			if (pre_int_i == int_i && pre_int_j == int_j) {
				return;
			}
			let pre_mal = arr2D[pre_int_i][pre_int_j];
			arr2D[int_i][int_j] = pre_mal;
			arr2D[pre_int_i][pre_int_j] = "e";
			
			pre_int_i = -1;
			pre_int_j = -1;
			
			myrender();
		}
		
		status_idx++;
		
		
		myrender();
		
	}
	function myrender() {
		var mals = document.getElementById('div_mal');
		
		var imgmals = document.getElementsByClassName('img_mal');
		
		for (let i = 0; i < 10; i++) {
			for (let j = 0; j < 9; j++) {
				imgmals[i*9 + j].src = "images/" + arr2D[i][j]+".png";
			}
		}
	}
</script>
</head>
<body onload="myinit();">
	<img style="position:absolute;" src="images/janggipan.png"/>
	<div id="div_mal" style="position:absolute;">
	</div>
</body>
</html>